* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 13px;
}

li {
    list-style-type: none;
    float: left;
}

li a {
    display: block;
    text-align: center;
}

.float-right {
    float: right;
}

.nav li a {
    padding: 20px;
}

section {
    padding: 150px;
}

img {
    height: 100px;
    padding: 10px 0 0;
    margin-bottom: 30px;
       
}

.img-wrapper, form .input-container, form div, div p {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.search {
    border: 2px solid #dfe1e5;
    border-radius: 2rem;
    width: 482px;
    height: 44px;
    
}

input:focus {
    outline:none;
}

button {
    border: none;
    padding: 10px 20px;
    background-color: #f3f3f3;
    border-radius: 0.2rem;
    font-size: 14px;
    font-weight: 900;
    color: #5F6368;
    margin: 30px 15px;
    cursor: pointer;

}

a:link { 
    text-decoration: none;
}

a:hover {
    text-decoration: underline; 
}

.footer {
    position: fixed;
    bottom: 0;
    /* height: 80px; */
    width: 100%;
    background-color: #f2f2f2;
}

.footer li {
    padding: 10px;
}

p a {
    color: #1a0dab;
}
